/* Accent color #2196F3 */
/* logo black #000000 */
/* background header #FFFFFF */
/* background color white #F5F5F5 */
/* bacground color grey #F5F4FA */

/* title color  #212121 */
/* text color #757575 */

/* footer background color #2F303A */
/*  footer white #FFFFFF */
/* footer contacts  rgba(255, 255, 255, 0.6) */


:root {
  --black-logo: #000000;
  --primary-bgc: #FFFFFF;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-bgc: #2F303A;
  --button-bgc: #F5F4FA;
  --header-border: #ECECEC;
}

html {
  box-sizing: border-box;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  
}

h1, h2, h3,h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;

}

/* img {
  display: block;
  max-width: 100%;
  height:auto;
} */


.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid tomato;
}

/* Page header */

.header {
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--header-border);
}

/* Logo */
.logo {
  display: flex;
  margin-right: 93px;
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  
}
.logo-black {
  color: var(--black-logo);
}



/* Site nav */

.site-nav {
   display: flex;
}

/* .site-nav .item {
  margin-right: 50px;
  background-color: tomato;
}

.site-nav .item:last-child {
  margin-right: 0;
} */

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link,
.site-nav .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.site-nav .contact {
  color: var(--primary-text-color)
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}


.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .contact:hover,
.site-nav .contact:focus {
  color: var(--accent-color);
}

/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}

.auth-nav {
  margin-left: auto;;
}

/* Hero */
.hero {
  background-color: var(--footer-bgc);
  }

.hero-title {
  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 30px;
 }

/* Section titles */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color:var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Features */
.section .features {
  padding-bottom: 0;
}
.features {
  display: flex;
}

.features .item {
  width: 270px;
}

.features .item + .item {
  margin-left: 30px;
}

.features .title {
  color:var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
}

/* Activities */
.activities {
  display: flex;
}

.activities .item + .item {
  margin-left: 30px;
}

/* Team */
.section.background {
  background-color: var(--button-bgc);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  list-style: none;
}
  
.team .background {
  margin-right: 30px;
  background-color: var(--primary-bgc);
}

.team .background:last-child {
  margin-right: 0;
}


.team .title {
  padding-top: 30px;
  padding-bottom: 10px;
  color:var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}


/* Footer */
.footer {
  background-color: var(--footer-bgc);
  padding-top: 60px;
  padding-bottom: 60px;
   
}

.footer .logo {
  margin: 0;
}


.logo-white {
  color: var(--primary-bgc);
}



.contacts .address,
.contacts .link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: inline-block;
}

.contacts .address {
  color: var(--primary-bgc);
  padding-top: 20px;
 
}

.contacts .link {
  color: var(--footer-contacts-color);
  padding-top: 9px;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}



/* Portfolio */

.filter {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

/* .filter .item {
  display: block;
}

.filter .item + .item {
  margin-left: 8px;
} */

.button {
  color: var(--title-text-color);
  background-color: var(--button-bgc);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  }

.button.primary {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 216px;
  
}


.button:hover,
.button:focus,
.button:active {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
}

/* Flex projects */

.projects {
  display: flex;
  flex-wrap: wrap;
  background-color: tomato;
}

.flex-element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: teal;
}

.flex-element:ntn-child(3n) {
  margin-right: 0;
}

.flex-element: ntn-last-child (-n + 3) {
  margin-bottom: 0;
}

.project {
  text-decoration: none;
}
.project .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  pad: 0;
}  

.project .text{
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  pad: 0;
}
