/* Accent color #2196F3 */
/* logo black #000000 */
/* background header #FFFFFF */
/* background color white #F5F5F5 */
/* bacground color grey #F5F4FA */

/* title color  #212121 */
/* text color #757575 */

/* footer background color #2F303A */
/*  footer white #FFFFFF */
/* footer contacts  rgba(255, 255, 255, 0.6) */


:root {
  --black-logo: #000000;
  --primary-bgc: #FFFFFF;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-bgc: #2F303A;
  --button-bgc: #F5F4FA;
}

body {
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  
  }

  .list {
    list-style: none;
  }



/* Logo */
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: var(--black-logo);
}

/* Site nav */
.site-nav .link,
.site-nav .contact {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .contact {
  color: var(--primary-text-color)
}

.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}


.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .contact:hover,
.site-nav .contact:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--footer-bgc);
}

.hero-title {
  color: var(--primary-bgc);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section titles */
.section-title {
  color:var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Features */
.features .title {
  color:var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
}


/* Team */
.section.background {
  background-color: var(--button-bgc);
}

.team {
  list-style: none;
}
  
.team .background {
  background-color: var(--primary-bgc);
}

.team .title {
  color:var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}


/* Footer */
.footer {
  background-color: var(--footer-bgc);
  
}

.logo-white {
  color: var(--primary-bgc);
}

.contacts .address,
.contacts .link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.contacts .address {
  color: var(--primary-bgc);
}

.contacts .link {
  color: var(--footer-contacts-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}



/* Portfolio */
.button {
  color: var(--title-text-color);
  background-color: var(--button-bgc);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  }

.button.primary {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}


.button:hover,
.button:focus,
.button:active {
  color: var(--primary-bgc);
  background-color: var(--accent-color);
}

.project {
  text-decoration: none;
}
.project .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}  

.project .text{
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
